<% content_for :head do %>
  <meta http-equiv="refresh" content="600" />
<% end %>

<% title "Listings" %>

<div class="row">
  <div class="col-md-12">
    <h1>Interested (<%= @interested_listings.count %>)</h1>
    <%= render partial: "table", locals: { listings: @interested_listings, id: "interested" } %>
  </div>

  <div class="col-md-12">
    <h1>Pending (<%= @pending_listings.count %>)</h1>
    <%= render partial: "table", locals: { listings: @pending_listings, id: "pending" } %>
  </div>
</div>
