<div id="clearance" class="sign-up">
  <h2><%= t('.title') %></h2>

  <%= form_for @user, html: { class: "form-horizontal", role: "form" } do |form| %>
    <%= render :partial => '/users/form', :object => form %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-1">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
