<% title "Settings" %>

<h1>Settings</h1>

<div class="row">
  <div class="col-md-12">
  <table class="table table-striped listings">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @settings.each do |setting| %>
        <%= content_tag_for :tr, setting do %>
          <td><%= setting.name.humanize %></td>
          <td><%= setting.value %></td>
          <td class="text-right">
            <%= link_to icon("pencil"), edit_setting_path(setting), class: "btn btn-xs btn-warning" %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
