<div class="row header-row">
  <div class="col-md-8">
    <h1>Add Search</h1>
  </div>

  <div class="col-md-4">
    <div class="text-right">
      <%= link_to "Cancel", searches_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>

<div class="row header-row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
