body {
  padding-top: 50px;
}

#alerts {
  margin-top: 20px;
}

.header-row {
  .btn {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

th {
  cursor: pointer;
}

.tablesorter-headerAsc {
  .tablesorter-header-inner:after {
    content: "\e155";
    font-family: "Glyphicons Halflings";
    font-size: 80%;
    padding-left: 8px;
  }
}

.tablesorter-headerDesc {
  .tablesorter-header-inner:after {
    content: "\e156";
    font-family: "Glyphicons Halflings";
    font-size: 80%;
    padding-left: 8px;
  }
}
